<div class='caption'>
  <%= link_to item.caption.html_safe, item.source_url if item.caption %>
</div>

<div class ='body'>
  <%= truncate_html(item.body.html_safe, :length => max_post_length, :omission => '...') if item.body %>
  
  <%= render 'read_more', :item => item %>

</div>
