<div class="comment-form row-fluid">
  <%= form_for [@news_item, @news_item.comments.build],:class => 'span8', :size => "20x30", :remote => true do |f| %>
    <%= f.error_messages %>
    <%= f.text_area(:content,:class => 'span8', :placeholder => "Comment") %><br>
    <%= f.submit "Submit", :class => 'btn' %>
  <% end %>
</div>


