<div class="comment-form">
  <%= form_for [@news_item, @news_item.comments.build], :remote => true do |f| %>
    <%= f.error_messages %>
    <%= f.text_area :content, :placeholder => "Comment"  %>
    <%= f.submit "Submit" %>
  <% end %>
</div>
<div class='comments'></div>