<div class= 'meta'>
  <div class='source'>
    <ul class='source_name'>
      <li><%= link_to item.source_user, item.source_url %></li>
    </ul>
  </div>


  <%= render 'user_interactions', :item => item %>
