  <div class='body'>
    <div class='rating'><%= item.popularity %></div>
    <%= link_to image_tag(item.photo_urls[:url]), item.source_url %>
    
    <p class ='caption'> <%= item.body.html_safe if item.body %></p>
  </div>
    
    <%= render "meta_info", :item => item %>

  </div>








