    <div class='source_site row-fluid'>
      <div class='span2'>
        <%= link_to image_tag("#{item.source}_logo.png"), "http://#{item.source}.com"%>
      </div>
      <ul class='span10'> 
        <li>From</li>
        <li><%= link_to item.source.capitalize, "http://#{item.source}.com" %></li>
      </ul>
    </div>
