    <div class='source_user'>
      <%= link_to image_tag(item.profile_pic), item.source_user_url if item.profile_pic%>
      <ul class='<%=item.source %>'

        <li>Posted by</li>
        <% if item.source == 'twitter' %>
        <li>Full Name</li>
        <li><%= link_to "@#{item.source_user}", item.source_user_url %></li>
        <% else %>
        <li><%= link_to item.source_user, item.source_user_url %></li>
        <% end %>
      </ul>
    </div>
