    <ul class='user_interactions row-fluid'>
      <li class='comments span6'>
        <span>[     ]></span> <%= link_to "3,589 comments", item %>
      </li>
      <li class='span6'><%= link_to item.published_at, item.source_url %></li>
    </ul>
