    <ul class='user_interactions row-fluid'>
      <li class='news_item_comments span6'>
        <span>[     ]></span> <%= link_to "#{item.comments.count} Comments", item %>
      </li>
      <li class='span6'><%= link_to item.published_at, item.source_url %></li>
    </ul>
