    <ul class='user_interactions'>
      <li class='votes'>
        <span><%=link_to '*     *', :url => '/' %> </span> 3,589 Gold Stars
      </li>
      <li class='comments'>
        <span>[     ]></span> <%= link_to "3,589 comments", item %>
      </li>
    </ul>
