  <div class='body'>
    <div class='rating'><%= item.popularity %></div>
    <%= item.body %>    
    
  </div>
  <p class ='caption'> <%= item.caption if item.caption %></p>

    <%= render "meta_info", :item => item %>

  </div>
