
<h1>start</h1>


<% @news_items.each do |item| %>
  From: <%= item.source %>
  <%= item.popularity %><br>
  <%= link_to item.source_user, item.source_url %><br>
  <%= item.tags %>
  <hr>

<% end %>



