

<h1>Popular Items</h1>
<% count = 0 %>
<% @news_items.each do |item| %>

  <div class='row'>

    <article class="<%=item.format%> news_item_<%= count+=1 %> span" >
      <%= render 'news_items', :item => item %>
    </article>

  </div>

<% end %>
