
<script type="text/javascript">
$(function ($) {
	var $grid = $('#news_item_grid');

	$grid.isotope({
		itemSelector: '.news_item_wrapper',
		layoutMode: 'masonry'
	});

	$grid.imagesLoaded(function () {
		$grid.isotope('reLayout');
		$('.news_item').removeClass('hidden');
	});
});
</script>

<div class='row-fluid'>
  <h2 class='span2'>Trending Now</h2>

  <ul class="nav nav-pills ">

    <li class="active"><a href="#">All</a></li>
    <li id='type'><a class="dropdown-toggle" href="#" data-toggle="dropdown">Type<strong class="caret"></strong></a></li>
    <li id='source'><a class="dropdown-toggle" href="#" data-toggle="dropdown">Source<strong class="caret"></strong></a></li>

  </ul>
      
</div>

   <div id="news_item_grid" class='row-fluid'>
<% @news_items.each_with_index do |item, count| %>

	<div class="news_item_wrapper">
    <article class="news_item <%=item.format%> <%=item.source%> hidden">
      <%= render 'news_items', :item => item %>
    </article>
  </div>




<% end %>
  </div>
