

<h1>Popular Items</h1>

   <div class='row-fluid'>
<% @news_items.each_with_index do |item, count| %>
    <% if count%4 == 0 && count != 0 %>
      </div>
      <div class='row-fluid'>
    <% end %>
      <article class="item_<%= count + 1 %> <%=item.format%> span3" >
        <%= render 'news_items', :item => item %>
      </article>
  <% end %>
</div>
