.navbar {
  .navbar-inner {
    background-image: none;
    height: 100%;
    .container {
      width: 80%;
      margin: auto;

      ul {

      }
    }
  }
}

.navbar-search {
  width: 500px;
  }

.nav-pills {
  padding-top: 14px;
}
