@import "bootstrap";

.container {
  width: 80%;
  margin: auto;
}

img {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

article {
  padding: 0;
  padding: 16px;
  font-size: 14px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
}

.navbar-search {
  width: 500px;
  }

.popularity {
  text-align: center;
}

.meta {
  ul {
    list-style-type: none;
    padding:0;
    margin:0;
    }

    li:first-child {
      font-size: 11px;
    }

    li:nth-child(2) {
      font-size: 14px;
    }

    .user_interactions li {
      font-size: 11px;
    }

  }

.footer {
  background-color:black;
  height: 300px;
}
