@import "bootstrap";

body {
  background-image: url('/assets/debut_light.png');
  font-family: 'Arvo', serif;
}

i .icon-comment {
  color: orange;
}

.chart tspan {
  font-family: 'Arvo', serif;
}

.container {
  width: 80%;
  margin: auto;
}

a:hover {
  text-decoration: none;
}


img {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

article, .comment {
  padding: 0;
  padding: 16px;
  font-size: 14px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
  background-color: #fff;
}

.news_item img {
  margin: auto;
}

.tag_line {
  font-weight:none;
}

.popularity {
  text-align: right;

  .star {
    color:yellow;
    background-color: black;
  }
}

.body {
  margin-bottom: 14px;
}

/* taken from .lead */
article.status .body, article.photo .caption, .comment p:first-child {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
}

.meta {
  ul {
    list-style-type: none;
    padding:0;
    margin:0;
    }

    li:first-child {
      font-size: 11px;
    }

    li:nth-child(2) {
      font-size: 14px;
    }

    .user_interactions {
      border-bottom: 1px solid #ccc;
      margin-bottom: 7px;
      li {
        font-size: 11px;
      }
    }
    .source_user {
      padding-bottom: 14px;
      padding-top: 7px;

    }

    .source_site {
      border-top: 1px solid #eee;
      padding-top: 14px;
    }
  }

.results {
  ul {
    list-style-type:none;
    margin:0;
    padding:0;
  }

  h4 {
    line-height: 0;
  }

  li {
    border: 1px solid #ccc;
    width: 25%;
  }

  .bold {
    font-weight: bold;
  }

}

.comment {
  margin-bottom: 28px;
  p:nth-of-type(2) {

  }

  article {
  }
}

article.single_news {
  padding:20px;
  .status {
    
  }
}

.comment-form input[type='textarea'] {
  height: 115px;
  max-height:300px;
}

.footer {
  background-color:black;
  padding-top: 50px;
  padding-bottom: 30px;
  line-height: 0px;
}
