@import "bootstrap";




.container {
  width: 80%;
  margin: auto;
}

img {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

article {
  padding: 0;
  padding: 16px;
  font-size: 14px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
}

.navbar {
  .navbar-inner {
    background-image: none;

    .container {
      width: 80%;
      margin: auto;
    }
  }
}

.navbar-search {
  width: 500px;
  }

.nav-pills {
  padding-top: 14px;
}

.popularity {
  text-align: center;

  .star {
    color:yellow;
    background-color: black;
  }
}

.body {
  margin-bottom: 14px;
}

.meta {
  ul {
    list-style-type: none;
    padding:0;
    margin:0;
    }

    li:first-child {
      font-size: 11px;
    }

    li:nth-child(2) {
      font-size: 14px;
    }

    .user_interactions {
      border-bottom: 1px solid #eee;
      margin-bottom: 7px;
      li {
        font-size: 11px;
      }
    }
    .source_user {
      padding-bottom: 14px;
      padding-top: 7px;

    }

    .source_site {
      border-top: 1px solid #eee;
      padding-top: 14px;
    }
  }

.results {
  ul {
    list-style-type:none;
    margin:0;
    padding:0;
  }

  h4 {
    line-height: 0;
  }

  li {
    border: 1px solid #ccc;
    width: 25%;
  }

  .bold {
    font-weight: bold;
  }

}

input[type=textarea] {
  max-height:300px;
}

.footer {
  background-color:black;
  height: 300px;
}
