body, html {
  margin:0;
  padding: 0;
  font-size: 12px;
  font-weight: none;
}

.container {
  width: 960px;
  margin: auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 320px;
}

article {
  width: 320px;
  margin-bottom: 50px;
  clear: both;
  float: left;
  border: 1px solid #F0EDEF;
  padding: 12px;
  overflow: hidden;
}

.rating {
  text-align: right;
}

.body {
  border-bottom: solid 1px #F0EDEF;
}

.caption {
  border-bottom: solid 1px #F0EDEF;

}

.meta ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 48px;
  line-height: 24px;
}

.source {
  float: left;
  width: 180px;
}


  .source .source_name {

  }


    .source .source_name li:first-child {
      font-size: 16px;
      font-weight: bold;
    }

  .user_interactions {
    float: right;
    width: 140px;
    text-align: right;
  }



