body, html {
  margin:0;
  padding: 0;
  font-size: 12px;
  font-weight: none;
}

.container {
  width: 960px;
  margin: auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 500px;
}

article {
  width: 500px;
  margin-bottom: 50px;
  clear: both;
  float: left;
  border: 1px solid #F0EDEF;
  padding: 12px;
  overflow: hidden;
}



.rating {
  text-align: right;
}

.body {
  border-bottom: solid 1px #F0EDEF;
}

.caption {
  border-bottom: solid 1px #F0EDEF;

}

.meta ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



