article.status .source {
  float: left;
  width: 180px;
}

  article.status .source a {
    float: left;
    margin-right: 6px;
  }

  article.status .source .source_name {
    float: right;
    width: 126px;
  }


  article.status .source .source_name li:first-child {
      font-size: 16px;
      font-weight: bold;
    }
