body
  font-family: Helvetica, sans-serif

.header
  height: 56px
  width: 100%
  h1
    display: inline-block
    float: left
    line-height: 56px
    margin: 0
    padding: 0
  .search
    line-height: 56px
    float: right
    input
      padding: 8px
    select
      margin-left: 8px

#user_nav
  ul
    padding: 0
    display: block
    float: right
    margin-left: 16px
  li
    list-style: none
    display: inline
    line-height: 36px

.instagram
  width: 400px
  padding: 0
  padding: 16px
  font-size: 14px
  box-shadow: 0px 0px 8px rgba(0,0,0,0.4)
  li
    list-style: none
  img
    max-width: 400px
  .name
    margin-bottom: 8px
    height: 32px
    position: relative
    span
      position: absolute
      display: inline-block
      line-height: 32px
      font-weight: bold
  .profile_picture
    width:  32px
    height: 32px
    padding-right: 16px
    display: inline-block
  .caption
    padding-top: 8px

.hidden
  display: none
