<div class="filter row-fluid">
  <div class='span6 offset2'>
    <div class='span1'><a href="#">Tumblr</a></div>
    <div class='span1'><a href="#">Twitter</a></div>
    <div class='span1'><a href="#">Reddit</a></div>
    <div class='span1'><a href="#">Instagram</a></div>
  </div>
</div>

