<div class="filter row-fluid">
  <div class='span6'>
    <div class='span1'><a href="#">Photos</a></div>
    <div class='span1'><a href="#">Quotes</a></div>
    <div class='span1'><a href="#">Statuses</a></div>
    <div class='span1'><a href="#">Answers</a></div>
    <div class='span1'><a href="#">Chats</a></div>
  </div>
</div>
