<div class="navbar">
  <div class="navbar-inner">
    <div class = 'container'>
      <ul class="nav span3">
      <% if current_user %>
        <li><h1><%= link_to 'SchoolSay', user_path(current_user) %><br></h1> </li>
      <% else %>
        <li class ='active'><%= link_to 'Grit In The Gap', root_url, :class => 'brand' %> </li>
      <% end %>
      </ul>
      <ul class='nav span10'>
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">Search News By School <strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
              <%= render 'layouts/search' %>
            </div>
        </li>
      </ul>

      

      <ul class ='nav pull-right'>
        <li><%= render 'layouts/login_signup' %></li>
      </ul>

    </div>
  </div>
</div>



