<div class="navbar">
  <div class="navbar-inner">
    <div class = 'container'>
      <ul class="nav">
      <% if current_user %>
        <li><%= link_to 'Grit In The Gap', user_path(current_user), :class => 'brand' %> </li>
      <% else %>
        <li class ='active'><%= link_to 'Grit In The Gap', root_url, :class => 'brand' %> </li>
      <% end %>

        <li class="divider-vertical"></li>

      </ul>

      <%= render 'layouts/search' %>

      <ul class ='nav pull-right'>
        <li><%= render 'layouts/login_signup' %></li>
      </ul>

    </div>
  </div>
</div>
